flows_smart_home_monitoring.json
[{"id":"2dcca5d3.c1b74a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"24f7b732.9a61f8","type":"tab","label":"Flow 1"},{"id":"47a90a44.b32ff4","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"fec4fcbb.ef94f","type":"ui_group","z":"","name":"LED","tab":"69c5fed1.5146b","order":3,"disp":true,"width":"6","collapse":false},{"id":"8f127ae1.00bbc8","type":"ui_group","z":"","name":"Smoke Sensor","tab":"bc783f50.66863","order":1,"disp":true,"width":"6","collapse":false},{"id":"a474a740.843ad8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f0d6295.41179c","type":"ui_group","z":"","name":"Rain Sensor","tab":"bc783f50.66863","order":2,"disp":true,"width":"6","collapse":false},{"id":"bc783f50.66863","type":"ui_tab","z":"","name":"Home Monitoring","icon":"dashboard"},{"id":"806de2c4.9475","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sensor_data","tz":""},{"id":"f5317f1.81513","type":"telegram bot","z":"","botname":"Allenfyp_Bot","usernames":"","chatids":"831985564","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"cb193c2a.3a06e8","type":"ui_group","z":"","name":"Humidity","tab":"bc783f50.66863","disp":true,"width":"6","collapse":false},{"id":"9d80cacf.43f0e","type":"ui_group","z":"","name":"Temeprature & Humidity","tab":"bc783f50.66863","disp":true,"width":"6","collapse":false},{"id":"69c5fed1.5146b","type":"ui_tab","z":"","name":"Switch LED","icon":"dashboard"},{"id":"36f731e3.7f447e","type":"telegram bot","z":"","botname":"HomeAssistantBlogBot","usernames":"","chatids":""},{"id":"3112f9d4.b1b626","type":"telegram bot","z":"","botname":"Allenfyp_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"f2f1a587.b9c1f8","type":"telegram bot","z":"","botname":"Allenfyp_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"3e15d1cf.9aa87e","type":"telegrambot-config","z":"","botname":"Allenfyp_Bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"eb68aa51.0708e","type":"telegram bot","z":"","botname":"Allenfyp_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"500","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"2dab599a.3780e6","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"temperature","birthQos":"0","birthPayload":"msg.payload","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b105b806.6e4e8","type":"mqtt-broker","z":"","name":"mqtt_temp","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba7204f9.acd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af18bf84.6eb43","type":"serial in","z":"2dcca5d3.c1b74a","name":"","serial":"47a90a44.b32ff4","x":83,"y":208,"wires":[["2d474334.a96954"]]},{"id":"2d474334.a96954","type":"function","z":"2dcca5d3.c1b74a","name":"Tostring","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":245,"y":208,"wires":[["34304bd1.481c9c"]]},{"id":"34304bd1.481c9c","type":"split","z":"2dcca5d3.c1b74a","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":373,"y":207,"wires":[["1acc5056.94fc7","8870b33f.6ce4d"]]},{"id":"1acc5056.94fc7","type":"function","z":"2dcca5d3.c1b74a","name":"payload object","func":"var newMsg = {};\nvar Sensor = \n{\n    NData: 0, \n    smokeSensor: 0,\n    rainSensor: 0,\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.smokeSensor = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.rainSensor = parseFloat(msg.payload);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.NData &&\n          context.data.smokeSensor &&\n          context.data.rainSensor;\n\n\nif(AllData)\n{\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n","outputs":1,"noerr":0,"x":401,"y":303,"wires":[["66db5507.30ddec","d3a57810.01e058","904e8fe9.1aa5e"]]},{"id":"8870b33f.6ce4d","type":"debug","z":"2dcca5d3.c1b74a","name":"Frame from sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":103,"wires":[]},{"id":"14ab02a7.a2eb9d","type":"function","z":"2dcca5d3.c1b74a","name":"Split Data","func":"var msgSmoke = msg.sensorData.Smoke;\nvar msgRain = msg.sensorData.Rain;\n\nreturn [msgSmoke, msgRain];","outputs":2,"noerr":0,"x":776,"y":247,"wires":[["7dcfcf75.741228","1d5224e1.ad57eb","7dd0f1d4.420b4"],["7f7489c7.ea84d","5e5ce284.1a7a1c"]]},{"id":"d3a57810.01e058","type":"debug","z":"2dcca5d3.c1b74a","name":"Frame from Sensors","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":645,"y":176,"wires":[]},{"id":"7dcfcf75.741228","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"8f127ae1.00bbc8","order":0,"width":0,"height":0,"gtype":"gage","title":"Smoke PPM","label":"ppm","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1006.75,"y":131,"wires":[]},{"id":"7f7489c7.ea84d","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"5f0d6295.41179c","order":0,"width":0,"height":0,"gtype":"gage","title":"Rain Value","label":"%","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1042.25,"y":199.25,"wires":[]},{"id":"71088a78.69d754","type":"rpi-gpio out","z":"2dcca5d3.c1b74a","name":"","pin":"11","set":"","level":"0","freq":"","out":"pwm","x":630.7406005859375,"y":305.61114501953125,"wires":[]},{"id":"49f30f8f.06c9e8","type":"rpi-gpio out","z":"2dcca5d3.c1b74a","name":"","pin":"13","set":"","level":"0","freq":"","out":"pwm","x":629.20361328125,"y":374.870361328125,"wires":[]},{"id":"cce6ca10.1a318","type":"rpi-gpio out","z":"2dcca5d3.c1b74a","name":"","pin":"15","set":"","level":"0","freq":"","out":"pwm","x":622.9814453125,"y":456.9815979003906,"wires":[]},{"id":"71b7ce74.d11ec8","type":"ui_slider","z":"2dcca5d3.c1b74a","name":"","label":"Blue","group":"fec4fcbb.ef94f","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":354.8517761230469,"y":487.27783203125,"wires":[["cce6ca10.1a318","31920c26.bd02b4"]]},{"id":"20baa75a.470e78","type":"ui_slider","z":"2dcca5d3.c1b74a","name":"","label":"Green","group":"fec4fcbb.ef94f","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":358.31475830078125,"y":408.7407684326172,"wires":[["49f30f8f.06c9e8","484bc0e6.cb8638"]]},{"id":"2deadd00.32552c","type":"ui_slider","z":"2dcca5d3.c1b74a","name":"","label":"Red","group":"fec4fcbb.ef94f","order":1,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":354.9814758300781,"y":343.18524169921875,"wires":[["71088a78.69d754","67e0ae23.c76d28"]]},{"id":"67e0ae23.c76d28","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"fec4fcbb.ef94f","order":4,"width":0,"height":0,"gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":832.6295166015625,"y":334.33343505859375,"wires":[]},{"id":"484bc0e6.cb8638","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"fec4fcbb.ef94f","order":5,"width":0,"height":0,"gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":829.2962341308594,"y":406.5555419921875,"wires":[]},{"id":"31920c26.bd02b4","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"fec4fcbb.ef94f","order":6,"width":0,"height":0,"gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":828.1851501464844,"y":485.4444580078125,"wires":[]},{"id":"4bf6576d.1a2208","type":"mysql","z":"2dcca5d3.c1b74a","mydb":"806de2c4.9475","name":"","x":1091.6237487792969,"y":48.852378845214844,"wires":[[]]},{"id":"d8dee16.a9b0ea","type":"function","z":"2dcca5d3.c1b74a","name":"Insert Query","func":"msg.topic = \"INSERT INTO `rain_data` (`Date_Time`, `data`) VALUES (CURRENT_TIMESTAMP,'\"+msg.payload.rainSensor+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":758.6524105072021,"y":20,"wires":[["4bf6576d.1a2208"]]},{"id":"c220c58e.2e004","type":"inject","z":"2dcca5d3.c1b74a","name":"Delay 2 sec","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":121.36666870117188,"y":569,"wires":[["4bb59492.409f1c"]]},{"id":"35e237ee.5a7e28","type":"mysql","z":"2dcca5d3.c1b74a","mydb":"806de2c4.9475","name":"","x":542.2666168212891,"y":548.2332849502563,"wires":[["d65b00f8.815108","433bcbf3.30a324"]]},{"id":"4bb59492.409f1c","type":"function","z":"2dcca5d3.c1b74a","name":"Query","func":"msg.topic = \"SELECT * FROM `temperature` ORDER BY `temperature`.`Date_Time` DESC LIMIT 1\"; \nreturn msg;","outputs":1,"noerr":0,"x":322.2666473388672,"y":557.2499780654907,"wires":[["35e237ee.5a7e28"]]},{"id":"e9176d43.af767","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"9d80cacf.43f0e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"℃","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":822.2666168212891,"y":579.8000574111938,"wires":[]},{"id":"8429ec74.b1ad1","type":"debug","z":"2dcca5d3.c1b74a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":789.2666168212891,"y":524.1999597549438,"wires":[]},{"id":"b25a0474.0c2e68","type":"ui_gauge","z":"2dcca5d3.c1b74a","name":"","group":"9d80cacf.43f0e","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":772.3833160400391,"y":685.5000085830688,"wires":[]},{"id":"1d5224e1.ad57eb","type":"ui_chart","z":"2dcca5d3.c1b74a","name":"","group":"8f127ae1.00bbc8","order":0,"width":0,"height":0,"label":"Last 1 Hour of Smoke PPM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1066.7666015625,"y":166.88333129882812,"wires":[[],[]]},{"id":"5e5ce284.1a7a1c","type":"ui_chart","z":"2dcca5d3.c1b74a","name":"","group":"5f0d6295.41179c","order":0,"width":0,"height":0,"label":"Last 1 Hour of Rain Value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1049.38330078125,"y":275.8833312988281,"wires":[[],[]]},{"id":"7a4e0e1e.ef1f5","type":"ui_chart","z":"2dcca5d3.c1b74a","name":"","group":"9d80cacf.43f0e","order":0,"width":0,"height":0,"label":"Last 1 Hour of Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":871.2666473388672,"y":632.633339881897,"wires":[[],[]]},{"id":"ef1752fb.727f1","type":"ui_chart","z":"2dcca5d3.c1b74a","name":"","group":"9d80cacf.43f0e","order":0,"width":0,"height":0,"label":"Last 1 Hour of Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820.2666473388672,"y":743.0500268936157,"wires":[[],[]]},{"id":"d65b00f8.815108","type":"function","z":"2dcca5d3.c1b74a","name":"Split Data","func":"var msgTemp = {payload: msg.payload[0].Temperature};\nvar msgHumi = {payload: msg.payload[0].Humidity};\n\nreturn [msgTemp, msgHumi];","outputs":2,"noerr":0,"x":521.38330078125,"y":647.0833129882812,"wires":[["e9176d43.af767","7a4e0e1e.ef1f5","8429ec74.b1ad1"],["b25a0474.0c2e68","ef1752fb.727f1"]]},{"id":"66db5507.30ddec","type":"delay","z":"2dcca5d3.c1b74a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":555.7142857142857,"y":39.99999999999999,"wires":[["d8dee16.a9b0ea","e8c5f072.6fa04"]]},{"id":"e8c5f072.6fa04","type":"function","z":"2dcca5d3.c1b74a","name":"Insert Query","func":"msg.topic = \"INSERT INTO `smoke_ppm` (`Date_Time`, `ppm`) VALUES (CURRENT_TIMESTAMP, '\"+msg.payload.smokeSensor+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":755.7142639160156,"y":85.71428108215332,"wires":[["4bf6576d.1a2208"]]},{"id":"1e5d7642.e89c9a","type":"telegram sender","z":"2dcca5d3.c1b74a","name":"","bot":"f5317f1.81513","x":827.9024887084961,"y":796.1785826683044,"wires":[[]]},{"id":"1659e968.865687","type":"function","z":"2dcca5d3.c1b74a","name":"Telegram Message Builder","func":"var content = msg.payload;\nmsg.payload = \n{\n    chatId:'831985564',\n    type: \"message\",\n    content: \"PIR detected motion\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":574.9286041259766,"y":857.0000019073486,"wires":[["1e5d7642.e89c9a"]]},{"id":"828737e.92326c8","type":"switch","z":"2dcca5d3.c1b74a","name":"PIR Trigger","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":334.2857208251953,"y":815.7142963409424,"wires":[["1659e968.865687"]]},{"id":"2b090929.b9d6c6","type":"rpi-gpio in","z":"2dcca5d3.c1b74a","name":"PIR sensor","pin":"12","intype":"tri","debounce":"10000","read":true,"x":120.0000217982701,"y":848.5714288439069,"wires":[["828737e.92326c8"]]},{"id":"7dd0f1d4.420b4","type":"debug","z":"2dcca5d3.c1b74a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1268,"y":234,"wires":[]},{"id":"433bcbf3.30a324","type":"debug","z":"2dcca5d3.c1b74a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1155.9999999999998,"y":557.9999999999999,"wires":[]},{"id":"904e8fe9.1aa5e","type":"function","z":"2dcca5d3.c1b74a","name":"","func":"msg.sensorData = {};\nmsg.sensorData.Smoke = {payload: msg.payload.smokeSensor};\nmsg.sensorData.Rain = {payload: msg.payload.rainSensor};\nreturn msg;","outputs":1,"noerr":0,"x":619.0000267028809,"y":237.3333282470703,"wires":[["14ab02a7.a2eb9d","d6b60451.8b46e8"]]},{"id":"d6b60451.8b46e8","type":"debug","z":"2dcca5d3.c1b74a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1115.9999999999998,"y":409.9999999999999,"wires":[]},{"id":"87abe922.73176","type":"telegram receiver","z":"2dcca5d3.c1b74a","name":"Receiver Node","bot":"eb68aa51.0708e","saveDataDir":"","x":166.28334045410156,"y":950.2333984375,"wires":[["e6fbc39b.e3f378"],["e6fbc39b.e3f378"]]},{"id":"af941b74.645fb8","type":"function","z":"2dcca5d3.c1b74a","name":"BuildTelegramResponse","func":"var userFirstName = msg.telegram.data.from.first_name;\n\nmsg.payload = {};\nmsg.payload.chatId = msg.telegram.payload.chatId;\nmsg.payload.type = \"message\";\nmsg.payload.content = `Hi ${userFirstName}. This is a message from Node RED.`;\n\nreturn msg;","outputs":1,"noerr":0,"x":376.7833251953125,"y":1071.2333984375,"wires":[["79229143.f2aeb8"]]},{"id":"79229143.f2aeb8","type":"telegram sender","z":"2dcca5d3.c1b74a","name":"","bot":"eb68aa51.0708e","x":607.2833251953125,"y":1069.2333984375,"wires":[["1499827.c16317e"]]},{"id":"1499827.c16317e","type":"debug","z":"2dcca5d3.c1b74a","name":"","active":false,"console":"false","complete":"true","x":791.2833251953125,"y":1070.2333984375,"wires":[]},{"id":"e6fbc39b.e3f378","type":"function","z":"2dcca5d3.c1b74a","name":"TelegramData","func":"// this function is appending data from telegram\n// to the msg object so it doesn't get lost when the message\n// is flowing trough other nodes\nvar newMsg = {}\nmsg.telegram = {};\nmsg.telegram.payload = msg.payload; // basic data, like chatId, msg text, msg type\nmsg.telegram.data = msg.originalMessage; // more info, like user name, chat info etc\n\nreturn newMsg;","outputs":1,"noerr":0,"x":496.7833251953125,"y":974.2333984375,"wires":[["f21f5c29.e03198","af941b74.645fb8"]]},{"id":"f21f5c29.e03198","type":"debug","z":"2dcca5d3.c1b74a","name":"","active":false,"console":"false","complete":"true","x":702.7833251953125,"y":975.2333984375,"wires":[]}]